[Unit]
Description=Gunicorn instance to serve Flask
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/tmp/webapp
Environment="PATH=/tmp/webapp/env/bin"
ExecStart=/tmp/webapp/env/bin/gunicorn --bind 0.0.0.0:8000 wsgi:app

[Install]
WantedBy=multi-user.target